* {
    margin: 0;
    padding: 0;
}


/* 定义全局变量 */

:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000;
}